apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: netbox-token
  namespace: snmp-exporter
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: netbox-token
    creationPolicy: Owner
  data:
    - secretKey: api-token
      remoteRef:
        key: secret/infrastructure/netbox
        property: api_token
