apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: snmp-targets
  namespace: snmp-exporter
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
