apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: crowdsec-traefik-bouncer
  namespace: crowdsec
spec:
  interval: 30m
  dependsOn:
    - name: crowdsec
      namespace: crowdsec
  chart:
    spec:
      chart: crowdsec-traefik-bouncer
      version: "0.6.x"
      sourceRef:
        kind: HelmRepository
        name: crowdsec
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  valuesFrom:
    - kind: Secret
      name: crowdsec-bouncer-key
      valuesKey: api_key
      targetPath: bouncer.crowdsec_bouncer_api_key
  values:
    bouncer:
      crowdsec_lapi_url: http://crowdsec-service.crowdsec.svc.cluster.local:8080
      crowdsec_agent_host: crowdsec-service.crowdsec.svc.cluster.local:8080

    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 128Mi
