apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: opnsense-node-exporter
  namespace: monitoring
  labels:
    app: opnsense-node-exporter
    release: kube-prometheus-stack
spec:
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
  namespaceSelector:
    matchNames:
      - monitoring
  selector:
    matchLabels:
      app: opnsense-node-exporter
