apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: velero-credentials
  namespace: velero
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: velero-credentials
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        cloud: |
          [default]
          aws_access_key_id={{ .access_key }}
          aws_secret_access_key={{ .secret_key }}
  data:
    - secretKey: access_key
      remoteRef:
        key: infrastructure/minio
        property: root_user
    - secretKey: secret_key
      remoteRef:
        key: infrastructure/minio
        property: root_password
