apiVersion: v1
kind: Service
metadata:
  name: velero
  namespace: velero
  labels:
    app.kubernetes.io/name: velero
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 8085
      targetPort: 8085
      protocol: TCP
  selector:
    app.kubernetes.io/name: velero
