---
apiVersion: v1
kind: Service
metadata:
  name: litellm
  namespace: litellm
  labels:
    app: litellm
spec:
  selector:
    app: litellm
  ports:
    - port: 4000
      targetPort: 4000
      name: http
      protocol: TCP
