# kubernetes/apps/netbox/ingress-tailscale.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: netbox-tailscale
  namespace: netbox
  annotations:
    tailscale.com/funnel: "false"
spec:
  ingressClassName: tailscale
  defaultBackend:
    service:
      name: netbox
      port:
        number: 8080
  tls:
    - hosts:
        - netbox
