---
all:
  children:
    infrastructure:
      hosts:
        opnsense:
          ansible_host: 10.0.10.1
          ansible_user: admin
          ansible_connection: ssh
          
        proxmox:
          ansible_host: 10.0.10.5
          ansible_user: root
          ansible_connection: ssh
          
        vault:
          ansible_host: 10.0.10.21
          ansible_user: ubuntu
          ansible_connection: ssh
          
        runner:
          ansible_host: 10.0.10.22
          ansible_user: ubuntu
          ansible_connection: ssh
