apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: panda9000
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Lanmine/lanmine_tech
    targetRevision: main
    path: kubernetes/apps/panda9000
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
