apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: oxidized
resources:
  - namespace.yaml
  - configmap.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress-tailscale.yaml
  - ingress-cloudflare.yaml
