apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: oxidized-data
  namespace: oxidized
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
