apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: homer-tailscale
  namespace: homer
  annotations:
    tailscale.com/funnel: "false"
spec:
  ingressClassName: tailscale
  defaultBackend:
    service:
      name: homer
      port:
        number: 8080
  tls:
    - hosts:
        - home
