---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: moltbot
resources:
  - namespace.yaml
  - externalsecret.yaml
  - configmap.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - pdb.yaml
  - ingress-tailscale.yaml
  - network-policy.yaml
