apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
data:
  url: "https://argocd.lionfish-caiman.ts.net"
  oidc.config: |
    name: Authentik
    issuer: https://authentik-01.lionfish-caiman.ts.net/application/o/argocd/
    clientID: argocd
    clientSecret: $argocd-oidc-secret:clientSecret
    requestedScopes:
      - openid
      - profile
      - email
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
  namespace: argocd
data:
  policy.csv: "g, akadmin, role:admin"
  policy.default: "role:readonly"
