apiVersion: v1
kind: Secret
metadata:
  name: argocd-oidc-secret
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: argocd
  annotations:
    vault-path: secret/infrastructure/argocd
type: Opaque
stringData:
  clientSecret: "PLACEHOLDER"
