---
- name: Setup ZTP Server Infrastructure on ubuntu-mgmt01
  hosts: localhost
  become: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3

  tasks:
    - name: Include ztp-server role
      include_role:
        name: ztp-server

    - name: Display ZTP server status
      debug:
        msg:
          - "ZTP Server configured successfully"
          - "VLAN 99: 10.0.99.20/24"
          - "TFTP: udp://10.0.99.20:69 -> /srv/tftp/"
          - "HTTP: http://10.0.99.20/ -> /srv/http/switches/"
          - ""
          - "Next steps:"
          - "1. Configure OPNsense VLAN 99 and DHCP"
          - "2. Generate ZTP configs: ansible-playbook generate-ztp-configs.yml"
          - "3. Test with spare switch"
