---
# CoreDNS ConfigMap with reliable public DNS forwarders
# Fixes DNS SERVFAIL issues caused by Tailscale MagicDNS timeouts
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |
    .:53 {
        errors
        health {
            lameduck 5s
        }
        ready
        log . {
            class error
        }
        prometheus :9153

        hosts {
            10.0.10.21 vault-01.lionfish-caiman.ts.net
            10.0.10.25 authentik-01.lionfish-caiman.ts.net
            fallthrough
        }

        kubernetes cluster.local in-addr.arpa ip6.arpa {
            pods insecure
            fallthrough in-addr.arpa ip6.arpa
            ttl 30
        }
        forward . 1.1.1.1 8.8.8.8 {
           max_concurrent 1000
        }
        cache 30 {
           disable success cluster.local
           disable denial cluster.local
        }
        loop
        reload
        loadbalance
    }
