apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
  namespace: tailscale
spec:
  interval: 30m
  chart:
    spec:
      chart: tailscale-operator
      version: "1.x"
      sourceRef:
        kind: HelmRepository
        name: tailscale
        namespace: flux-system
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    # OAuth credentials from operator-oauth secret (created manually)
    oauth: {}
    operatorConfig:
      hostname: "k8s-operator"
      defaultTags:
        - "tag:k8s"
    proxyConfig:
      defaultTags:
        - "tag:k8s"
