apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
  namespace: tailscale
spec:
  interval: 30m
  chart:
    spec:
      chart: tailscale-operator
      version: "1.x"
      sourceRef:
        kind: HelmRepository
        name: tailscale
        namespace: flux-system
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    # OAuth credentials - create at https://login.tailscale.com/admin/settings/oauth
    oauth:
      clientId: ""      # Set via secret
      clientSecret: ""  # Set via secret
    operatorConfig:
      hostname: "k8s-operator"
  valuesFrom:
    - kind: Secret
      name: tailscale-operator-oauth
      valuesKey: clientId
      targetPath: oauth.clientId
    - kind: Secret
      name: tailscale-operator-oauth
      valuesKey: clientSecret
      targetPath: oauth.clientSecret
