apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: authentik-ldap-token
  namespace: authentik
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: authentik-ldap-token
    creationPolicy: Owner
  data:
  - secretKey: token
    remoteRef:
      key: infrastructure/authentik
      property: ldap_outpost_token
