apiVersion: v1
data:
  snmp-scrape.yaml: LSBqb2JfbmFtZTogJ3NubXAtbmV0Ym94JwogIGZpbGVfc2RfY29uZmlnczoKICAgIC0gZmlsZXM6CiAgICAgICAgLSAvdGFyZ2V0cy9zbm1wLXRhcmdldHMuanNvbgogICAgICByZWZyZXNoX2ludGVydmFsOiA1bQogIG1ldHJpY3NfcGF0aDogL3NubXAKICBwYXJhbXM6CiAgICBtb2R1bGU6IFtpZl9taWJdCiAgICBhdXRoOiBbY2lzY29fdjJdCiAgcmVsYWJlbF9jb25maWdzOgogICAgIyBVc2UgdGhlIHRhcmdldCdzIGFkZHJlc3MgYXMgdGhlIF9fcGFyYW1fdGFyZ2V0CiAgICAtIHNvdXJjZV9sYWJlbHM6IFtfX2FkZHJlc3NfX10KICAgICAgdGFyZ2V0X2xhYmVsOiBfX3BhcmFtX3RhcmdldAogICAgIyBVc2UgdGhlIGRldmljZSBsYWJlbCBhcyB0aGUgaW5zdGFuY2UgbGFiZWwKICAgIC0gc291cmNlX2xhYmVsczogW2RldmljZV0KICAgICAgdGFyZ2V0X2xhYmVsOiBpbnN0YW5jZQogICAgIyBQb2ludCB0byBTTk1QIGV4cG9ydGVyIHNlcnZpY2UKICAgIC0gdGFyZ2V0X2xhYmVsOiBfX2FkZHJlc3NfXwogICAgICByZXBsYWNlbWVudDogc25tcC1leHBvcnRlci5zbm1wLWV4cG9ydGVyLnN2Yy5jbHVzdGVyLmxvY2FsOjkxMTYK
kind: Secret
metadata:
  name: prometheus-snmp-scrape-config
  namespace: monitoring
