apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: suricata-forwarder-cache
  namespace: monitoring
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 100Mi
