apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: minio-credentials
  namespace: minio
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: minio-credentials
    creationPolicy: Owner
  data:
    - secretKey: root-user
      remoteRef:
        key: infrastructure/minio
        property: root_user
    - secretKey: root-password
      remoteRef:
        key: infrastructure/minio
        property: root_password
