apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: vault
spec:
  provider:
    vault:
      server: "https://10.0.10.21:8200"
      path: "secret"
      version: "v2"
      # Skip TLS verification for self-signed cert (homelab)
      caProvider:
        type: ConfigMap
        name: vault-ca
        key: ca.crt
        namespace: external-secrets
      auth:
        tokenSecretRef:
          name: vault-token
          key: token
          namespace: external-secrets
